---
layout: issue_commenter_form
title: Support Escalation Form
---
<form id="issue_commenter_form" class="border border-light p-5" action='https://hooks.zapier.com/hooks/catch/632410/oqfqtxo/' method='post' required>
<div class="col-lg-4 mx-auto">
      Your Gitlab user id, without the <i>@</i>
      <br>Example: <b>ovider</b>
      <input class="form-control mb-4" name='gitlab_username' id="gitlab_username" type="text" placeholder="Gitlab Username" required>
      <input class="form-control mb-4" name='customer' id="customer" type="text" placeholder="Customer" required>

      <input class="form-control mb-4" name='ticket_number' id="ticket_number" type="text" placeholder="Ticket URL" required>

      <label for="urgency">Urgency</label>
      <select id="urgency" name='urgency' class="browser-default custom-select mb-4" >
          <option value="" disabled="">Choose an option</option>
          <option value="Not Urgent" selected="">Not Urgent</option>
          <option value="Timely">Timely</option>
          <option value="Urgent">Urgent</option>
      </select>

      <label for="plan">Plan</label>
      <select id="plan" name='customer_plan' class="browser-default custom-select mb-4">
          <option value="" disabled="">Choose a plan</option>
          <option value="" disabled="">SaaS</option>
          <option value="Bronze" selected="">Bronze</option>
          <option value="Silver">Silver</option>
          <option value="Gold">Gold</option>
          <option value="" disabled="">Self-Managed</option>
          <option value="Starter">Starter</option>
          <option value="Premium">Premium</option>
          <option value="Ultimate">Ultimate</option>
      </select>

      <label for="requester-sfdc-link">Plan</label>
      <textarea class="form-control rounded-0" name='escalation_reason' id="requester-sfdc-link" rows="1" placeholder="Escalation Reason" required></textarea>
      <br>
      <textarea class="form-control rounded-0" name='desired_result' id="desired_result" rows="3" placeholder="Desired Result" required></textarea>
      <br>
      <button class="btn btn-primary btn-block" type="submit">Send</button>
      <br>
      <div id="response" class="col-xs-1" align="center"></div>
    </div>

    <!--Link to request: [https://gitlab.my.salesforce.com/xxx]]
Why interested: ...
Current solution for this problem: ...
How important to customer: ...
Questions: ...
PM to mention (if known): [PMs handle]
TAM: [TAM handle]

-->

</form>
