---
layout: issue_commenter_form
title: Issue Commenter Form
---
<form id="issue_commenter_form" class="border border-light p-5" action='https://hooks.zapier.com/hooks/catch/632410/oev2nb9/' method='post' required>
<div class="col-lg-4 mx-auto">
      <!-- Your Gitlab user id, without the <i>@</i>
      <br>Example: <b>ovider</b>
      <input class="form-control mb-4" name='gitlab_username' id="gitlab_username" type="text" placeholder="Gitlab Username" required> -->
      <input class="form-control mb-4" name='customer_sfdc' id="customer_sfdc" type="text" placeholder="Customer SFDC Link" required>

      <input class="form-control mb-4" name='issue_to_comment' id="issue_to_comment" type="text" placeholder="Issue URL" required>

      <label for="priority">Priority</label>
      <select id="priority" name='priority' class="browser-default custom-select mb-4" >
          <option value="" disabled="">Choose an option</option>
          <option value="High Priority">High Priority</option>
          <option value="Important Enough">Important Enough</option>
          <option value="Nice To Have">Nice To Have</option>
      </select>

      <label for="plan">Plan</label>
      <select id="plan" name='customer_plan' class="browser-default custom-select mb-4">
          <option value="" disabled="">Choose a plan</option>
          <option value="" disabled="">SaaS</option>
          <option value="Bronze" selected="">Bronze</option>
          <option value="Silver">Silver</option>
          <option value="Gold">Gold</option>
          <option value="" disabled="">Self-Managed</option>
          <option value="Starter">Starter</option>
          <option value="Premium">Premium</option>
          <option value="Ultimate">Ultimate</option>
      </select>

      <label for="why_interested">Why Interested</label>
      <textarea class="form-control rounded-0" name='why_interested' id="why_interested" rows="3" placeholder="" required></textarea>
      <br>
      <label for="current_solution">Current solution for this problem</label>
      <textarea class="form-control rounded-0" name='current_solution' id="current_solution" rows="3" placeholder="" required></textarea>
      <br>
      <label for="tam_handle">TAM handle (without @)</label>
      <textarea class="form-control rounded-0" name='tam_handle' id="tam_handle" rows="1" placeholder="ovider" required></textarea>
      <br>
      <button class="btn btn-primary btn-block" type="submit">Send</button>
      <br>
      <div id="response" class="col-xs-1" align="center"></div>
    </div>

    <!--Link to request: [https://gitlab.my.salesforce.com/xxx]]
Why interested: ...
Current solution for this problem: ...
How important to customer: ...
Questions: ...
PM to mention (if known): [PMs handle]
TAM: [TAM handle]

-->

</form>
