<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<title>Issue Commenter Form</title>
<style>
.btn-primary {
    color: #ffffff;
    background-color: #4c1f8e;
    border-color: #380d76
}
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

   <script>
    // wait for the DOM to be loaded
     $(function() {
       // bind 'myForm' and provide a simple callback function
       $('#issue_commenter_form').ajaxForm(function() {
         response.innerHTML = 
		"<p class='lead'>Thanks, please check notifications on gitlab to make sure your comment is published.</p>"
	 document.getElementById("escalation_form").reset();
       });
     });	   
   </script>
</head>

<body>
  <div class="jumbotron card card-image" style="background-image: url(https://gitlab-com.gitlab.io/support/toolbox/forms_processor//assets/images/0.jpg);">
    <div class="text-white text-center py-5 px-4">
      <div>
	      <h1 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>{{page.title}}</strong></h2>
      </div>
    </div>
  </div>
  {{content}}
</body>
</html>
